/* COMMON */
img {
    max-width:100%;
}

/* HEADER */
header {
    max-height:100px;
}
.header-top {
    background-color: black;
    text-align: right;
}
.header-top img {
    width: 80px;
    padding: 10px 0;
}
ul {
    list-style-type: none;
}
header form li {
    margin-left: 20px;
}
.btn, .btn-dark {
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
li [class$="down"] {
    color: darkgrey;
    font-size: .7rem;
    margin-left: 5px
}
header form {
    vertical-align: center;
}
header form ul [class*="glass"] {
    color:black;
    align-items: center;
}
/* FIRST-BANNER */
#banner {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-bottom: 50px;
}
#banner img {
    width: 70%;
    padding-top: 100px;
    padding-bottom: 30px;
}
#banner h3 {
    font-size: 2rem;
}
#banner button, #second-banner button {
    background-color: #cd3d0f;
}
/* CARDS */
#cards {
    padding-top: 2rem;
}
#cards img {
    border-radius: 10px;
}
#cards h4 {
    font-size: .8rem;
    padding-top: 4rem;
}
/* PROMO */
.promo-bottom img {
    opacity:50%;
}
.promo-bottom h4 {
    font-size: 1rem;
}
.promo-bottom i {
    font-size: .7rem;
}
/* SECOND BANNER */
#second-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    padding: 6rem 0 4rem;
}
/* GAMES */
#games {
    background-color: #1f1f1f;
    color:white;
}
/* PS4 */
#ps4 {
    /* DEBUG */
    margin: 3rem 0;
}
/* PLAYSTATION PLUS */
#psplus {
    background-color: #bebcbb;
}
.ghost-img {
    height: 300px;
    background-color: red;
}
/* MORE */
#more {
    padding: 2rem 0;
}
/* NOW */
#psnow {
    background-color: #161c3b;
    color:white
}
footer {
    background-color: #00439c;
    color:white;
}
header ul {
    margin:0;
}
/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    #promo .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .promo-bottom img {
        padding: 50px;
    }
}