/* COMMON */
img {
    max-width:100%;
}
.fa-trademark {
    font-size: .6rem;
    margin:3px;
    display:inline-block;
    vertical-align: top;
}
.fa-registered {
    font-size: 1rem;
    margin:3px;
    display:inline-block;
    vertical-align: top;

}
/* HEADER */
header {
    max-height:100px;
}
.header-top {
    background-color: black;
    text-align: right;
}
.header-top img {
    width: 80px;
    padding: 10px 0;
}
ul {
    list-style-type: none;
}
header form li {
    margin-left: 20px;
}
.btn, .btn-dark {
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
header li {
    line-height: 2rem;
}
form .nav-link {
    line-height: 2.6rem;
}
li [class$="down"] {
    color: darkgrey;
    font-size: .7rem;
    margin-left: 5px
}
header form {
    vertical-align: center;
}
header form ul [class*="glass"] {
    color:black;
    align-items: center;
}
header .nav-link:hover {
    border-bottom: 2px solid #0070d1;
}
 .navbar-expand-lg {
    position:relative;
    padding-bottom:0;
}

.submenu {
    width:100%;
    background-color: white;
    position: absolute;
    top:4rem;
    left: 0;
    display:none;
}
header li:hover > .submenu {
    display:block;
}
.submenu:hover {
    display:block;
}
.submenu img {
    width:5%;
    padding-top: 3rem;
}
/* FIRST-BANNER */
#banner {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-bottom: 50px;
}
#banner img {
    width: 70%;
    padding-top: 100px;
    padding-bottom: 30px;
}
#banner h3 {
    font-size: 2rem;
}
#banner button, #second-banner button {
    background-color: #cd3d0f;
}
#banner button:hover, #second-banner button:hover {
    border: 1px solid  white;
    border-spacing: 10px;
    border-collapse: separate;
}
/* CARDS */
#cards {
    padding-top: 2rem;

}
#cards .box img {
 transition:1s;
 cursor: pointer;
 animation-name: cards;
 position:relative;
}
#cards .box img:hover {
    transform: scale(1.2) translate(0px, -40px);
    box-shadow: 1px 1px 15px white;

}
#cards img {
    border-radius: 10px;
}
#cards h4 {
    font-size: .8rem;
    padding-top: 4rem;
}
/* PROMO */
#promo {
    padding-bottom:2rem;
}
.promo-bottom .box {
    opacity:50%;
    cursor:pointer;
}
.promo-bottom h4 {
    font-size: 1rem;
}
.promo-bottom .box:hover {
    opacity:100%;
}

/* SECOND BANNER */
#second-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    padding: 6rem 0 4rem;
}
/* GAMES */
#games {
    background-color: #1f1f1f;
    color: white;
    padding-bottom:2rem;
}
#games .box h4 {
    font-size: 1rem;
}
#games .box {
    transition:1s;
    cursor:pointer;
}
#games .box:hover {
    transform:scale(1.2);
}
/* PS4 */
#ps4 {
    padding: 2rem 0;
}
/* PLAYSTATION PLUS */
#psplus {
    background-color: #bebcbb;
}
#psplus .img, #psnow .img {
    width:70%;
    margin: 2rem 0;
}
#psplus img, #psnow img {
    height:100%;
}
#psplus .btn-secondary {
    color:#00439c;
    background-color:#d9dadc;
    border:0;
}
#psplus button, #psnow button {
    margin-bottom:6rem;
}
/* MORE */
#more {
    padding: 2rem 0;
    text-align: center;
}
#more .box {
    cursor: pointer;
}
#more .box:hover {
    filter:brightness(40%);
}
/* NOW */
#psnow {
    background-color: #161c3b;
    color:white
}

footer {
    background-color: #00439c;
    color:white;
}
header ul {
    margin:0;
}
/* SOCIAL */
#social {
    max-width:800px;
    margin:auto;
    text-align: center;
    padding: 2rem 0;
}
footer {
    padding:2rem 0;
    color:white;
}
footer a{
    color:inherit;
    text-decoration: none;
}
footer img {
    width:20%;
    padding-bottom:.8rem;
}
/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    #promo .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .promo-bottom img {
        padding: 50px;
    }
}   
@media screen and (min-width:768px) {
    footer .links {
        display:flex;
        justify-content: space-between;
    }
}